body{
    background-color: black;
}
h4{
    color: blanchedalmond;
}
h3{
    color: crimson;
}
ul{
    color: aqua;
}
ol{
   color: aqua; 
}
h2{
    color: crimson;
}
p{
    color: blanchedalmond;
}
h6{
    color: blanchedalmond;
}
form{
    color: blanchedalmond;
}